.container {

}

.bg {
    background-image: url(../../../images/andy-holmes-rCbdp8VCYhQ-unsplash.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}
